<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SentiMan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <SentiMan.My.MySettings>
      <setting name="knownHosts" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Develop|4dms-web-o01.sc.nines.nl|10.128.85.133|4dms-db-o01|10.128.85.132</string>
            <string>Test|4dms-web-t01.sc.nines.nl|10.128.85.117|4dms-db-t01|10.128.85.116</string>
            <string>Acceptance|4dms-web-a01.sc.nines.nl|10.128.85.100|4dms-db-a01|10.128.85.102</string>
            <string>Production Shared|4dms-shrd-web-p01.sc.nines.nl|10.128.85.68|4dms-shrd-db-p01|10.128.85.72</string>
            <string>Production 4DMC|4dms-4dmc-web-p01.sc.nines.nl|10.128.85.20|4dms-4dmc-db-p01|10.128.85.24</string>
            <string>Production Eneco|4dms-eneco-web-p01.sc.nines.nl|10.128.85.36|4dms-eneco-db-p01|10.128.85.40</string>
          </ArrayOfString>
        </value>
      </setting>
    </SentiMan.My.MySettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  
</configuration>